<app-add-chalet-modal #addNewModalRef (savedChalet)="getSavedChalet($event)"></app-add-chalet-modal>
<app-add-chalet-modal #updateModalRef (updatedChalet)="getUpdatedChalet($event)"></app-add-chalet-modal>


<app-list-page-header [displayMode]="'image'" [itemOptionsPerPage]="[4, 8, 12]" [itemsPerPage]="itemsPerPage"
  [selectAllState]="selectAllState" (changeDisplayMode)="changeDisplayMode($event)" (addNewItem)="showAddNewModal()"
  (selectAllChange)="selectAllChange($event)" (itemsPerPageChange)="itemsPerPageChange($event)"
  (changeOrderBy)="changeOrderBy($event)" (searchKeyUp)="searchKeyUp($event)">
</app-list-page-header>

<context-menu #basicMenu>
  <ng-template contextMenuItem let-item (execute)="onContextMenuClick('modifier',$event.item)">
    <i class="simple-icon-docs mr-1"></i> <span>Modifier</span>
    
  </ng-template>
  <!-- <ng-template contextMenuItem let-item (execute)="onContextMenuClick('supprimer',$event.item)">
    <i class="simple-icon-docs mr-1"></i> <span>Supprimer</span>
  </ng-template> -->
  
</context-menu>
<ng-container *ngIf="data; else loading">
  <ng-container *ngIf="data.length > 0 ; else noChalet">
  <div class="row"  >
    <div class="col-12 list" *ngIf="displayMode==='list'">
      <div [ngClass]="{'card d-flex flex-row mb-3': true, 'active':isSelected(p)}" *ngFor="let p of data; let i=index"
        [contextMenu]="basicMenu" [contextMenuSubject]="p">
        <div class="d-flex flex-grow-1 min-width-zero">
          <div
            class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
            <!-- <a class="list-item-heading mb-0 truncate w-40 w-xs-100" href="javascript:;">
            {{p.description}}
          </a> -->
            <p class="mb-0 text-muted text-small w-15 w-xs-100">{{p.description}}</p>
            <p class="mb-0 text-muted text-small w-15 w-xs-100">{{p.adresse}}</p>
            <p class="mb-0 text-muted text-small w-15 w-xs-100">{{p.codeZip}}</p>
            <p class="mb-0 text-muted text-small w-15 w-xs-100">{{p.etat}}</p>
            <p class="mb-0 text-muted text-small w-15 w-xs-100">{{p.ville}}</p>
            <div class="w-15 w-xs-100">
              <span [class]="'badge badge-pill badge-'+ p.statusColor">{{p.status}}</span>
            </div>
          </div>
          <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
            <input type="checkbox" class="custom-control-input" [id]="'customCheck'+i" [checked]="isSelected(p)"
              (change)="onSelect(p)">
            <label class="custom-control-label" [for]="'customCheck'+i"></label>
          </label>
        </div>
      </div>
    </div>

    <div class="col-12 list" *ngIf="displayMode==='thumb'">
      <div [ngClass]="{'card d-flex flex-row mb-3': true, 'active':isSelected(p)}" *ngFor="let p of data; let i=index"
        [contextMenu]="basicMenu" [contextMenuSubject]="p">
        <a class="d-flex" href="javascript:;">
          <img [src]="'data:image/png;base64,'+ p.images[0]?.data" [alt]="p.nom"
            class="list-thumbnail responsive border-0 card-img-left" />

        </a>
        <div class="pl-2 d-flex flex-grow-1 min-width-zero">
          <div
            class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
            <p class="mb-0 text-muted text-small w-15 w-xs-100">{{p.description}}</p>
            <p class="mb-0 text-muted text-small w-15 w-xs-100">{{p.adresse}}</p>
            <p class="mb-0 text-muted text-small w-15 w-xs-100">{{p.codeZip}}</p>
            <p class="mb-0 text-muted text-small w-15 w-xs-100">{{p.etat}}</p>
            <p class="mb-0 text-muted text-small w-15 w-xs-100">{{p.ville}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 list" *ngIf="displayMode==='image'">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4" *ngFor="let p of data; let i=index"
          [contextMenu]="basicMenu" [contextMenuSubject]="p">
          <div [ngClass]="{'card': true, 'active':isSelected(p)}" (click)="goToDetail(p.id)">
            <div class="position-relative" *ngIf=" p.images.length">
              <a href="javascript:;"><img class="card-img-top" [src]="'data:image/png;base64,'+ p.images[0]?.data"
                  [alt]="p.nom"></a>
              <span [class]="'badge badge-pill position-absolute badge-top-left badge-'+ 'blue'">{{p.status}}</span>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <a href="javascript:;">
                    <p class="mb-0 text-muted text-small">{{p.description}}</p>
                    <p class="mb-0 text-muted text-small">Situé à : {{p.adresse}}, {{p.codeZip}},{{p.etat}}, {{p.ville}}
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <pagination [totalItems]="totalItem" [itemsPerPage]="itemsPerPage" [rotate]="true" [maxSize]="5"
        [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" class="justify-content-center"
        previousText="<i class='simple-icon-arrow-left'></i>" nextText="<i class='simple-icon-arrow-right'></i>">
      </pagination>
    </div>
  </div>
</ng-container>
  <ng-template #noChalet>
    <div class="text-center">
      <!-- <div class="spinner-border text-primary" role="status" > -->
        <img src="/assets/img/empty_data.png" alt="">
        <p>
          Pas de Chalets inscrits dans notre plateforme pour l'instant
        </p>
      <!-- </div> -->
    </div>
  </ng-template>


</ng-container>
<ng-template #loading>
  <div class="loading"></div>
</ng-template>